@inherits LayoutComponentBase
@inject IJSRuntime js

<div class="page">
    <div class="sidebar">
          <NavMenu>
            <label class="switch mt-2">
                <input id="theme-switch" onselectstart="return false" type="checkbox" /> 
                <span class="theme-icon"></span>
            </label>
          </NavMenu>
    </div>
    <div class="main">
        <div>
            @Body
        </div>
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await js.InvokeVoidAsync("checkThemeSwitch");
        }
    }
}