@inherits LayoutComponentBase
@inject IJSRuntime Js

<div class="page">
    <div class="sidebar">
          <NavMenu>
            <label class="switch mt-2">
                <input id="theme-switch" onselectstart="return false" type="checkbox" /> 
                <span id="theme-icon" class="theme-icon"></span>
            </label>
          </NavMenu>
    </div>
    <div class="main">
        <ErrorBoundary>
            <ChildContent>
                @Body
            </ChildContent>
            <ErrorContent>
                <h1 class="text-title m-3 text-danger">Error</h1>
                <ErrorComponent ErrorMessage="Error: Unknown application error."/>
            </ErrorContent>
        </ErrorBoundary>
            
    </div>
</div>

@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            await Js.InvokeVoidAsync("checkThemeSwitch");
        }
    }
}