<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid p-0">
        <div class="align-self-start">
            @ChildContent
        </div>
@*        <div class="align-self-center">
            <a class="navbar-brand" href="">NiceHash</a>
        </div>*@
        <div class="align-self-end">
            <button title="Navigation menu inner-shadow" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link inner-shadow" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Overview
            </NavLink>
        </div>
@*        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shit">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>*@
    </nav>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null;

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
