@page "/"

<PageTitle>Index</PageTitle>

<h1 class="text-title m-3">Overview</h1>

@if(_rigsActivity is {Balance: not null,Profitability: not null})
{
    <div>
        <CheckboxSliderComponent OnRefreshPressed="RefreshPressed" 
            OnCheckboxChange="RefreshSliderPressed" Text="Auto-Refresh"
            DefaultIsChecked="@_autoRefreshActive">
        </CheckboxSliderComponent>
    </div>

    <div class="container-2">
        <BalancesContainerComponent 
            Balances=@_rigsActivity.Balance.Totals 
            FiatRate=@_rigsActivity.Balance.FiatRate
            TimeLeft=@_timeLeft/>
        
        @if (_rigsActivity.RigsDetails is not null)
        {
            foreach(var rig in _rigsActivity.RigsDetails)
            {
                <RigDetailsComponent 
                    Name=@rig.Name 
                    Stats=@rig.Devices[1].Stats 
                    TemperatureRanges=_temperatureRanges />
            }
        }

        <ProfitabilityContainerComponent Profitability=@_rigsActivity.Profitability/>
    </div>
}
else if (_isError)
{
    <ErrorComponent ErrorMessage=@_errorMessage />
}
else
{
    <div class="d-flex justify-content-center">
        <SpinnerComponent></SpinnerComponent>
    </div>
}

@code {
    private async Task RefreshPressed()
    {
        _rigsActivity = null;
        await Start();
    }

    private async Task  RefreshSliderPressed()
    {
        _autoRefreshActive = !_autoRefreshActive;
        await AutoRefresh();
    }
}
