<div class="container container-bg-primary inner-shadow @GetClass() rounded">
    <div class="text-center">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public bool HasBottomInfo { get; set; } = false;
    [Parameter]
    public string Class { get; set; } = null;

    public string GetClass() { return string.IsNullOrEmpty(Class) ? @GetMargin() + " " + @Padding() : Class;  }
    
    public string GetMargin() { return HasBottomInfo ? " mt-0" : " mb-3 mt-3"; }

    public string Padding() { return HasBottomInfo ? " p-0 pt-3" : " p-2"; }
}