<div class="container container-bg-primary min-width-270 inner-shadow @GetClass() rounded">
    <div class="text-center">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Class { get; set; }

    private string GetClass() { return string.IsNullOrEmpty(Class) ? " mb-3 p-2" : Class;  }
}