@import url(open-iconic/font/css/open-iconic-bootstrap.min.css);
h1 {
    display: flex!important;
    justify-content: center!important;
    margin-bottom: 1rem!important;
}
thead {
    background-color: #232319!important;
    font-weight: 700!important;
}
table.d {
    table-layout: fixed;
    width: 100%}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bg-main {
    background-color: #010E15!important;
}
td {
    color: #e39a24;
    text-align: justify;
}
top-row {
    background-color: #010E15 !important;
    border: 1px solid RGB(0,50,70) !important;
}
.top-row {
    background-color: #010E15 !important;
    border: 1px solid RGB(0,50,70) !important;
}
.sidebar {
    background-color: #010E15 !important;
    background: #010E15 !important;
    border: 1px solid RGB(0,50,70) !important;
}
.nav-item a.active {
    background-color: #062339!important;
}
.nav-item a:hover {
    background-color: #010E15 !important;
    border: 1px solid RGB(0,50,70) !important;
}
.bg-crypto {
    background-color: #282828!important;
}
.table {
    color: #c8c8c8!important;
}
.checkboxes {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    word-wrap: break-word;
}
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked+.slider {
    background-color: #e39a24;
}
input:focus+.slider {
    box-shadow: 0 0 1px #e39a24;
}
input:checked+.slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}
.top-shape-size-2 {
    top: 2px !important;
}
.top-shape-size-4 {
    top: 4px !important;
}
.slider.round {
    border-radius: 17px;
}
.slider.round:before {
    border-radius: 50%}
.input-sm {
    width: 85px!important;
    height: 25px!important;
}
input[type=number], input[type=text], textarea {
    outline: 0;
    border: 1px solid #e39a24;
}
input[type=number]:focus, input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 5px #e39a24;
    border: 1px solid #e39a24;
}
body {
    background-color: #010E15 !important;
    color: #e39a24;
}
body, html {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    font-family: Ubuntu,sans-serif !important;
    height: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}
.btn-link, a {
    color: #0366d6;
}
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn-reset {
    font-size: .775rem !important; 
    height: 25px !important;
}
.text-value {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: -.1px;
    margin-bottom: 3px;
}
.text-key {
   /* font-size: 22px;*/
    letter-spacing: -.1px;
    margin-bottom: 3px;
}
.text-orange {
    color: #e39a24;
}

.text-stats {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -.1px;
    margin-bottom: 3 px;
}
.currency {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: normal;
}
.label {
    color: #959595;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 0;
}
.text-gray {
    color: #959595 !important;
}
.text-orange {
    color: #fba342 !important;
}
.info-box {
    background: #052339;
    border: 1px solid #40494f;
    color: #eee;
    border-radius: 4px;
    display: inline-block;
    height: 116px;
    margin-bottom: 8px;
    overflow: hidden;
    padding: 24px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}
a {
    color: #fba342 !important;
    cursor: pointer;
    text-decoration: none;
    transition: color .2s ease;
}
.container-bg-primary {
    background-color: #062339;
}
.time {
    font-size: 16px;
    font-weight: 700;
}
.container-bg-white {
    background-color: white;
}
.content {
    padding-top: 1.1rem;
}
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}
.invalid {
    outline: 1px solid red;
}
.validation-message {
    color: red;
}
.table-nicehash {
    background-color: #062339;
    color: #e39a24;
}
.pointer {
    cursor: pointer;
}
#blazor-error-ui {
    background: #ffffe0;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, .2);
    display: none;
    left: 0;
    padding: .6rem 1.25rem .7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: .75rem;
    top: .5rem;
}